<h2 class="mb-5">
  <!-- hacer dinamico el texto -->
  @if(contact){
    Editar
  } @else {
    Nuevo
  }Contacto
</h2>

<!-- darle el ancho al formulario -->
 <div class="row row-cols-3 justify-content-center">
  @if(form){
    <!-- vinculacion el evento ngSubmit -->
  <form [formGroup]="form" (ngSubmit)="save()" >
    <div class="mb-3">
      <label for="name">Nombre</label>
      <input id="name" type="text" placeholder="Nombre" class="form-control" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="name">Email</label>
      <input id="name" type="email" placeholder="Email" class="form-control" formControlName="email">
    </div>
  
  
    <div class="d-flex justify-content-center btn-group">
      <button type="button" class="btn btn-outline-danger me-2" routerLink="/">
        Cancelar
      </button>  
      <button class="btn btn-outline-primary">
        @if(contact) {
          Actualizar
        } @else {
          Crear
        }Contacto
      </button>
    </div>
  </form>
  }
 </div>